
.search{
    padding: 50px 0 0;
    .form-control{
        outline: none;
        box-shadow: none;
        &:focus{
            border-color: unset;
        }
    }
}
.our-candidates{
    padding: 50px 0 0 ;
    text-align: center;

    .my-candidates{
        // width: 23% ;
        padding: 10px;
        background:$white_color;
        text-align: center;
      margin: 5px -5px;
      border-radius: 10px;
      box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);

      transition: .6s;
      &:hover{
        .candidates-titel{
            color: #f5790b;
          }
        transform: translateY(-5px) scale(1.005) translateZ(0);
         
      }
      @media only screen and (max-width: 767px) {
    //    width: 100% ;

      }
     
      .image-candidates{
          margin: 15px 0;
      }
        .candidates-titel{
            margin: 15px 0;
            
            a{
               h4{
                font-size: 1.2rem;
                font-weight: 600;
                color: $black;
                transition: .6s;
                 
               }
              

            };
            p{
                font-weight: 600;
                font-size: 1rem;
                opacity: .8;
            }
        }

    }
}



